pre { display:inline }

.side_links {
  background-color:seashell;
  position:fixed;
  width:10em;
  top:0%;
  left:0%;
  padding:1em;
  margin:0.5em;
}

.main_div {
  background-color:seashell;
  width:34em;
  margin-left:13em;
  margin-right:auto;
  margin-top:0.5em;
  margin-bottom:0.5em;
  padding:6px;
}

.highlight {
  background-color:white;
  padding:0.3em;
  margin:0.3em;
}

.mono {
  font-family:monospace;
}

.yellow {
  background-color:yellow;
}

.hblock1, .hblock2, .hblock3, .hblock4, .hblock5, .hblock6  {
  padding-left:8px;
  padding-right:0px;
}

.hblock1 {
  background-color:#black;
}

.hblock2 {
  background-color:#DFF5EE;
}

.hblock3 {
  background-color:#DFD5EE;
}

.hblock4 {
  background-color:#DFD5BE;
}

.hblock5 {
  background-color:#BFD5BE;
}

.hblock6 {
  background-color:#BFB5BE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
  font-variant:small-caps;
}